h1{
    font-size: 1.5em;
}
a{
    text-decoration: none;
    color: blue;
}
ul {
    list-style-type: none;
}

.nav{
    width: 100%;
}
.nav ul li{
    display: inline;
    margin: 0.2em;
}

.signIn label{
    margin-right: 5px;
}

.signUp div:first-child{
float: left;
}
.signUp label{
    display: block;
    margin: 5px;
}
.signUp input{
    display: block;
    margin: 5px;
}
.listProjects {
    padding: 0;
    width: 60%;
}

.listProjects li:nth-child(2n){
    background-color: #e2e2e2;
}
.listProjects div {
    width: 23%;
    display: inline-block;
}